extends layout

block content
	div.container
		form(method='POST' action='/admin' + product.url + '/update' class='page-form')
			label(for='name') Nome do Produto: 
			input(type='text', name='name', value=product.name)
			br
			br

			label(for='picture') Imagem: 
			input(type='text', name='picture', value=product.picture)
			br
			br

			label(for='desciption') Descrição do Produto: 
			input(cols='30', rows ='10', type='text', name='description', value=product.description)
			br
			br

			label(for='price') Preço: 
			input(type='number', name='price', min="0", step="0.01", value=product.price)
			br
			br

			label(for='amount') Quantidade em estoque: 
			input(type='number', name='amount', min="0", value=product.amount)
			br
			br

			button(type='submit', value='submit', id='submit') Salvar
			a(href='/manage-products')
				button(type='button', name='back', value='back') Voltar